@font-face {
	font-family:"Hamdullah";
	src:url(fonts/hamdullah.ttf);
}
@font-face {
	font-family:"Lateef";
	src:url(fonts/lateef.ttf);
}
@font-face {
	font-family:"Saleem";
	src:url(fonts/saleem.ttf);
}
@font-face {
	font-family:"Seherezade";
	src:url(fonts/seherezade.ttf);
}
@font-face {
	font-family:rb-quran;
	src:url(fonts/rb_quran.ttf);
}
